html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #262138;
    font-family: sans-serif;
}

label, h1 {
    color: #dbdbdb;
}

input:focus, button:focus {
    outline: none;
}

.input-text {
    font-size: x-large;
    color: black;
    width: 360px;
    border: none;
}

#username {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#confirmPassword {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.regLabel {
    font-size: small;
    display: block;
    text-align: left;
    margin-bottom: .25rem;
}

#accCustom {
    display: flex;
    flex-direction: row;
}

#pfpDiv, #colorDiv {
    display: flex;
    flex-direction: column;
}

.filePretty {
    border: none;
    font-size: x-large;
    border-top-left-radius: 8px;
    margin-bottom: .5rem;
    width: 262px;
    background-color: #262138;
    color: #dbdbdb;
    text-align: left;
}

#colorLabel {
    margin-left: 2px;
}

.customLabel {
    font-size: small;
    margin-bottom: .25rem;
}

input {
    margin-bottom: 1rem;
}

.regHeader {
    margin: 0;
    padding: .5rem 0 1rem 0;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#regDiv {
    background-color: #4a4462;
    border-radius: 8px;
    width: 370px;
    padding: 1rem;
}

.registerButton {
    border: none;
    font-size: x-large;
    border-bottom-left-radius: 8px;
    margin-bottom: .5rem;
    width: 262px;
    background-color: #262138;
    color: #dbdbdb;
    text-align: left;
}

.gap {
    width: 4px;
}

.loginButton {
    border: none;
    font-size: x-large;
    border-bottom-right-radius: 8px;
    margin-bottom: .5rem;
    width: 102px;
    background-color: #4a4462;
    color: #dbdbdb;
}

.colorPretty {
    border: none;
    font-size: x-large;
    border-top-right-radius: 8px;
    margin-bottom: .5rem;
    width: 102px;
    background-color: #262138;
    color: #dbdbdb;
}

.registerButton:hover, .filePretty:hover, .loginButton:hover, .colorPretty:hover {
    cursor: pointer;
    background-color: #645c86;
}

.green {
    border-color: rgb(1, 207, 1);
    border-width: 2px;
    font-size: x-large;
    width: 360px;
}
.red {
    border-color: red;
    border-width: 2px;
    font-size: x-large;
    width: 360px;
}

#pfp, #color {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top-right-radius: 8px;
    border-color: transparent;
}