<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../css/chatCSS.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Chat</title>
</head>
<body>
    <div class="left">

    </div>
    <div class="chat"></div>
    <div class="input">
        <input type="text" class="inTextField" id="userInput">
        <button type="button" class="sendButton" id="send">Send</button>
    </div>
    <div class="right">

    </div>

    <script src="./../js/chatJS.js"></script>
</body>
</html>