<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../css/chatCSS.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Chat</title>
</head>
<body>
    <div class="left">
        <img src="./../images/logout.png" class="logoff">
    </div>
    <div class="charCount">
        <p class="count"></p>
    </div>
    <div class="chat"></div>
    <div class="input">
        <input type="text" class="inTextField" id="userInput" maxlength="1000">
        <button type="button" class="sendButton" id="send">Send</button>
    </div>
    <div class="right"></div>

    <script src="./../js/chatJS.js"></script>
</body>
</html>