<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../css/loginCSS.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div id="regDiv">
            <h1 class="regHeader">LOGIN</h1>
            <form action="/register" method="POST" encType="multipart/form-data" id="form">
                <label class="regLabel">NAME</label>
                <input name="username" class="input-text" type="text" id="username" maxlength="40" required>
                
                <label class="regLabel">PASSWORD</label>
                <input name="password" class="input-text" type="password" id="password" maxlength="64" required>

                <div style="display: inline-flex;">
                    <button type="button" id="login" class="loginButton">Login</button>
                    <div class="gap"></div>
                    <button type="button" id="register" class="registerButton">Register</button>
                </div>
            </form>
        </div>
    </div>

    <script src="./../js/loginJS.js"></script>
</body>

</html>