<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../css/styleRegister.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Register</title>
</head>

<body>
    <h1>
        Register
    </h1>
    <form action="/register" method="POST" encType="multipart/form-data" id="form">
        <label>Name</label><br>
        <input name="username" type="text" id="uname" required>
        <p id="taken" style="color: red">Username must be 4 or more characters!</p>
        <label>Password</label><br>
        <input name="password" type="password" id="password" required><br>
        <label>Color</label><br>
        <input name="color" type="color" id="color"><br>
        <label>Profile picture</label><br>
        <input name="pfp" type="file" id="pfp"><br>
        <button type="button" id="register">Register</button>
    </form>
    <script src="./../js/registerApp.js"></script>
</body>

</html>