<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../css/registerCSS.css">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div id="regDiv">
            <h1 class="regHeader">REGISTER</h1>
            <form id="form">
                <label class="regLabel">NAME</label>
                <input name="username" class="input-text" type="text" id="username" maxlength="40" required>
                
                <label class="regLabel">PASSWORD</label>
                <input name="password" class="input-text" type="password" id="password" maxlength="64" required>
                
                <label class="regLabel">CONFIRM PASSWORD</label>
                <input name="confirmPassword" class="input-text" type="password" id="confirmPassword" maxlength="64" required>

                <div id="accCustom">
                    <div id="pfpDiv">
                        <label class="customLabel">PROFILE PICTURE
                            <div class="fileInput">
                                <input name="pfp" type="file" id="pfp">
                                <div type="button" class="filePretty">&nbsp;Select your picture</div>
                            </div>
                        </label>
                    </div>
                    <div class="gap"></div>
                    <div id="colorDiv">
                        <label class="customLabel" id="colorLabel">NAME COLOR
                            <input name="color" type="color" id="color">
                            <div class="colorPretty">&nbsp;&nbsp;&nbsp;Color</div>
                        </label>
                    </div>
                </div>

                <div style="display: inline-flex;">
                    <button type="button" id="register" class="registerButton">Register</button>
                    <div class="gap"></div>
                    <button type="button" id="login" class="loginButton">Login</button>
                </div>
            </form>
        </div>
    </div>

    <script src="./../js/registerJS.js"></script>
</body>

</html>