<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../css/styleRegister.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div id="regDiv">
            <h1 class="regHeader">REGISTER</h1>
            <form action="/register" method="POST" encType="multipart/form-data" id="form">
                <label class="regLabel">NAME</label>
                <input name="username" class="input-text" type="text" id="username" required>
                
                <label class="regLabel">PASSWORD</label>
                <input name="password" class="input-text" type="password" id="password" required>
                
                <label class="regLabel">CONFIRM PASSWORD</label>
                <input name="confirmPassword" class="input-text" type="password" id="confirmPassword" required>

                <div id="accCustom">
                    <div id="pfpDiv">
                        <label class="customLabel">PROFILE PICTURE</label>
                        <input name="pfp" type="file" id="pfp">
                    </div>
                    <div id="colorDiv">
                        <label class="customLabel">NAME COLOR</label>
                        <input name="color" type="color" id="color">
                    </div>
                </div>

                <button type="button" id="register" class="submitButton">Register</button>
            </form>
        </div>
    </div>

    <script src="./../js/registerApp.js"></script>
</body>

</html>